<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.EmpMapper">
	<resultMap id="BaseResultMap" type="pojo.Emp">
	    <id column="id" jdbcType="INTEGER" property="id" />
	    <result column="no" jdbcType="VARCHAR" property="no" />
	    <result column="pass" jdbcType="VARCHAR" property="pass" />
	    <result column="name" jdbcType="VARCHAR" property="name" />
	    <result column="did" jdbcType="INTEGER" property="did" />
	    <result column="flag" jdbcType="INTEGER" property="flag" />
	    <result column="sex" jdbcType="VARCHAR" property="sex" />
	    <result column="email" jdbcType="VARCHAR" property="email" />
	    <result column="qq" jdbcType="VARCHAR" property="qq" />
	    <result column="phone" jdbcType="VARCHAR" property="phone" />
	    <result column="createdate" jdbcType="DATE" property="createdate" />
	    <result column="photo" jdbcType="VARCHAR" property="photo" />
	    <result column="del" jdbcType="INTEGER" property="del" />
 	</resultMap>
  <select id="login" resultType="Emp">
  	select * from t_emp where no=#{no} and pass=#{pass} and del=0
  </select>
  <insert id="addEmp" parameterType="pojo.Emp">
  	insert into t_emp (no,pass,name,did,flag,sex,email,qq,phone,createdate,photo,del) 
  	values(#{no},888888,#{name},#{did},1,#{sex},#{email},#{qq},#{phone},#{createdate},#{photo},#{del})
  </insert>
  <!-- 获取员工总数 -->
  <select id="empCount" resultType="int">
	select count(id) from t_emp where del=0
  </select>
  <!-- 分页获取员工信息 -->
  <!-- 注意查询员工信息需要和部门表进行联查,返回就不能返回Emp了，需要用一个Map进行接收 -->
  <select id="getEmpList" resultMap="EmpMap">
	select E.id, E.no,E.name,E.did,E.sex,E.phone,E.qq,E.email,E.createdate,D.name as 'Dname' from t_emp E inner join t_depart D  on E.did=D.id and E.del=0 order by E.id limit #{pageStart},#{pageSize}
  </select>
  
  <!-- 注意这里的id和type不要搞反了！！！ -->
  <resultMap id="EmpMap" type="pojo.Emp">
  		<id column="id" property="id"/>
  		<id column="no" property="no"/>
  		<id column="name" property="name"/>
  		<id column="did" property="did"/>
  		<id column="sex" property="sex"/>
  		<id column="phone" property="phone"/>
  		<id column="qq" property="qq"/>
  		<id column="email" property="email"/>
  		<id column="createdate" property="createdate"/>
  		<!-- 对部门信息进行映射 -->
  		<association property="depart" javaType="Depart">
  			<result column="Dname" property="name"/>
  		</association>
  </resultMap>
  <update id="empDel" parameterType="int">
  	update t_emp set del=1 where id=#{id}
  </update>
  <!-- 员工饼状图 统计 -->
  <!-- 注意返回类型可以指定其他的任意类的对象，只需要把路径指定正确即可 -->
  <select id="getEmp_Dep" resultType="util.EmpCount">
  		SELECT COUNT(E.id) AS value,D.name as name from t_emp E INNER JOIN t_depart D ON E.did=D.id GROUP BY E.did;
  </select>
</mapper>